<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>w-shirt</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- knockout -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js"></script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class="corners">
      <section>
        <h2>
          Control:
        </h2>
        <form data-bind="submit: ()=>{event.stopPropagation()}">
          <label>
            <input type="radio" name="checkbox" value="1" data-js="mo" />Montag
          </label>
          <label>
            <input
              type="radio"
              name="checkbox"
              value="2"
              data-js="di"
            />Dienstag
          </label>
          <label>
            <input
              type="radio"
              name="checkbox"
              value="3"
              data-js="mi"
            />Mittwoch
          </label>
          <label>
            <input
              type="radio"
              name="checkbox"
              value="4"
              data-js="do"
            />Donnerstag
          </label>
          <label>
            <input type="radio" name="checkbox" value="5" data-js="fr" />Freitag
          </label>
          <label disabled>
            <input type="radio" name="checkbox" data-js="sa" value="6" />Samstag
          </label>
          <label disabled>
            <input type="radio" name="checkbox" data-js="so" value="7" />Sonntag
          </label>
          <t id="day">
            Tag: <input type="number" data-bind="value: tyme().tday||0"
          /></t>
          <t id="week"> Woche: <val data-bind="text: tyme().week"></val></t>
          <t id="color"> Farbe: <val data-bind="text: color"></val> </t>
          <t id="combos">
            Kombinationen: <val data-bind="text: combos"></val>
          </t>
        </form>
      </section>
      <svgs>
        <svg
          id="shirt"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 360 200"
        >
          <g transform="translate(30,-700)">
            <path
              id="main"
              d="m126,724.61218c11.26193,1.51193 20.64389,1.14389 29.25,0l5.25,7.25c22.64389,8.58228 35.76552,7.64574 60,21-3.11888,10.48578-3.70615,21.98421-13,30-7.75-6.08798-15.5-4.79991-23.25-6.75v88.25c-29.12786,5.30148-58.03698,6.66566-86.5,0v-88.25c-6.74079.75138-12.34188.20025-23.5,6-8.37586-6.98544-10.99052-18.45182-13.5-30 25.95395-11.67055 39.00517-13.26167 60.25-19.75l5-7.75z"
              fill="#fff"
              fill-rule="evenodd"
              stroke="#000"
              stroke-width="2"
            />
            <path
              d="m125.5,725.61218c2.7397,8.06236 6.68291,14.68051 12.75,18.75l-7,7.75c-7.73281-5.9371-8.1715-12.68465-10.25-19.25"
              fill="none"
              stroke="#000"
            />
            <path
              d="m98.5,739.36218c2.06102,11.04316 6.24287,24.82637-.25,36.5"
              fill="none"
              stroke="#000"
            />
            <path d="m100,745.86218 22-7.5" fill="none" stroke="#000" />
            <path
              d="m64.75,751.0041c1.429,11.49119 6.97419,20.65032 13,28.85808"
              fill="none"
              stroke="#000"
            />
            <path
              d="m97.75,860.86218c28.75,4.09784 57.5,5.83682 86.25,0"
              fill="none"
              stroke="#000"
            />
            <path
              d="m155.5,725.11218c-2.7397,8.06236-6.68291,14.68051-12.75,18.75l7,7.75c7.73281-5.9371 8.1715-12.68465 10.25-19.25"
              fill="none"
              stroke="#000"
            />
            <path
              d="m183.5,739.11218c-2.06102,11.04316-6.24287,24.82637.25,36.5"
              fill="none"
              stroke="#000"
            />
            <path d="m182,745.86218-23.5-8" fill="none" stroke="#000" />
            <path
              d="m216.5,751.36218c-1.429,11.49119-6.9742,20.04224-13,28.25"
              fill="none"
              stroke="#000"
            />
            <path
              d="m128.75,733.36218c7.40371-2.3148 14.93557-1.98881 23,0"
              fill="none"
              stroke="#000"
            />
            <path
              d="m138.5,744.11218h3.75v23.25h-3.75v-23.25z"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
            />
          </g>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="pants"
          x="0px"
          y="0px"
          viewbox="0 0 512 512"
          style="enable-background:new 0 0 512 512;"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M409.588,494.481l-25.6-486.4C383.749,3.558,380.003,0,375.463,0H136.529c-4.54,0-8.286,3.558-8.516,8.09l-25.6,486.4    c-0.239,4.548,3.14,8.491,7.671,8.943l85.333,8.533c4.471,0.384,8.55-2.671,9.267-7.117l51.311-315.204l51.311,315.196    c0.683,4.156,4.284,7.159,8.414,7.159c0.282,0,0.563-0.017,0.862-0.043l85.333-8.533    C406.447,502.972,409.818,499.029,409.588,494.481z M322.863,494.174l-58.445-359.014c-0.674-4.13-4.241-7.159-8.422-7.159    c-4.181,0-7.748,3.029-8.422,7.168l-58.445,359.014l-69.248-6.929l24.747-470.187h222.737l24.747,470.178L322.863,494.174z"
              />
            </g>
          </g>
          <g>
            <g>
              <rect x="136.529" y="34.133" width="238.933" height="17.067" />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M247.463,8.533v111.863c-10.752-9.907-17.058-23.919-17.067-39.074V8.533h-17.067v72.789    c0.017,26.778,14.899,50.859,38.852,62.839c1.203,0.606,2.509,0.905,3.814,0.905c1.553,0,3.115-0.427,4.48-1.271    c2.517-1.562,4.053-4.301,4.053-7.262v-128H247.463z"
              />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M170.825,41.02l-1.024,5.171c-4.13,20.54-16.964,37.82-35.354,47.676h-6.451v17.067h8.533    c1.331,0,2.637-0.307,3.823-0.896c24.055-12.058,40.883-34.099,46.191-60.51l1.024-5.205L170.825,41.02z"
              />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M377.553,93.858c-18.398-9.856-31.232-27.128-35.354-47.642l-1.024-5.205l-16.751,3.302l1.033,5.24    c5.308,26.377,22.144,48.418,46.182,60.476c1.186,0.597,2.5,0.905,3.823,0.905h8.533V93.858H377.553z"
              />
            </g>
          </g>

        </svg>
      </svgs>
    </div>
  </body>
</html>
