html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5em;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

svg {
  /*width: inherit;
  height: inherit;*/
  height: 100%;
  width: inherit;
  align-self: center;
}

.corners {
  background: #f6f6f6;
  position: relative;
  width: 80vw;
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
  display: flex;
  max-height: 100vh;
}

section {
  top: 0;
  margin: 1vh;
  border: 0.1vh dashed black;
}

section h2 {
  margin: .5vh 1vh 0 0;
  text-align: center;
  font-size: 2vh;
}

/* Corner Effect */
.corners:after,
.corners:before {
  background: #e6e6e6;
  content: "";
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
}

.corners:after {
  left: -50px;
  transform: rotate(-45deg);
}

.corners:before {
  right: -50px;
  transform: rotate(45deg);
}

/* neuomophi bla */
section > form {
  display: flex;
  flex-direction: column;
  font-size: 2vh;
}

input {
  margin-top: 1vh;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: #eee;
  box-shadow: inset -6px -6px 9px 0px white,
    inset 6px 6px 9px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 15px 16px;
}

label {
  cursor: pointer;
  user-select: none;
}

label:hover {
  background: cyan;
}
label[disabled] input {
  background: gray;
}
label[disabled] {
  background: lightgray;
  color: dimgray;
}
label:active {
  filter: contrast(0.8);
}

input:hover {
  border-color: white;
}

input:active,
input:focus {
  background: white;
}

t {
  white-space: nowrap;
  margin: 1vh;
  text-align: right;
  line-height: initial;
}

t > input {
  width: 12vh;
  height: 2vh;
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

t > val {
  font-weight: 750;
  padding: 0 2px 2px 0;
  outline: 1px dashed rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 3px white;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  background: #eee;
  box-shadow: -6px -6px 9px 0px white, 6px 6px 9px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  height: 3vh;
  width: 3vh;
  padding: 0px;
  margin: 1vh;
  vertical-align: -1.75vh;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: white;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: #eee;
  background: cyan;
  box-shadow: inset -6px -6px 9px 0px white,
    inset 6px 6px 9px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

input[type="checkbox"]:checked:hover,
input[type="radio"]:checked:hover {
  border-color: white;
}

input[type="checkbox"] {
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  border-radius: 4px;
}

input[type="checkbox"]:checked:after {
  content: "✓";
  display: block;
  position: absolute;
  width: 3vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
}
